*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
header{
    padding: 46px 131px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
ul > li >a{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    text-align: left;
    color: grey;
}
.Bold{
    color: black;
    font-weight: 700;
}